.prizes {
    background-color: var(--dark-purple-color);
    text-align: center;

    &__wrapper {
        padding-block: rem(51);
        position: relative;
    }

    &__schedule {
        color: #DFDCD3;
        text-align: center;
        font-family: Merriweather, serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.72px;
        text-transform: uppercase;
        margin-bottom: rem(32);
    }

    &__places {
        margin-bottom: rem(196);

        display: flex;
        gap: rem(80);
        justify-content: center;
        z-index: 10;
    }

    &__title {
        margin-bottom: rem(32);
        letter-spacing: 0.04em;
        text-transform: uppercase;
        text-shadow: 3px 3px 0 var(--black-color);
        color: #fff;
    }

    &__desc {
        margin-bottom: rem(64);
    }

    &__cow {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 0;
    }

    @include media("lg") {
        &__schedule {

        }

        &__wrapper {
            padding-block: rem(100);
        }

        &__cow {
            width: rem(206);
        }
    }

    @include media("md") {
        &__places {
            margin-bottom: rem(64);
        }

        &__cow {
            width: rem(160);
        }

        &__wrapper {
            padding-block: rem(56) rem(96);
        }

        &__title {
            margin-bottom: rem(16);
        }

        &__desc {
            margin-bottom: rem(28);
        }
    }

    @include media(850) {
        &__cow {
            width: rem(160);
        }
    }

    @include media("sm") {
        &__schedule {
            font-size: 10px;
        }

        &__wrapper {
            display: flex;
            flex-direction: column;
            padding-block: rem(40);
        }

        &__cow {
            display: none;
        }

        &__places {
            margin-bottom: rem(32);
        }

        &__title {
            margin-bottom: rem(32);
            text-shadow: 2px 1px 0 var(--black-color);
        }

        &__desc {
            order: 10;
            margin-bottom: 0;
            font-weight: bold;
            span {
                display: block;
            }
        }
    }
}

.prizes img {
    width: 80%;
    height: auto;
    z-index: 5;
}
