.scroll {
    max-width: rem(590);
    margin-inline: auto;
    background-image: url(./../images/scroll.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding-block: rem(50) rem(100);
    color: var(--black-color);
    padding-inline: rem(84);
    position: relative;

    &__title {
        font-family: Merriweather, serif;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: 1.44px;

        margin-bottom: rem(24);
        text-align: center;
        text-transform: uppercase;
        color: var(--black-color);
        text-shadow: none;
    }

    &__rule {
        color: var(--Black, #282524);
        font-weight: 400;
        line-height: 140%;
        text-align: left;

        font-size: rem(16);
        font-style: italic;
        font-family: "Merriweather", serif;
        & + & {
            margin-top: rem(8);
        }
        a {
            text-decoration: underline;
        }
    }

    &__spoon {
        position: absolute;
        bottom: rem(16);
        right: 0;
        transform: translateX(#{rem(250)});
    }

    @include media("md") {
        padding-block: rem(44) rem(119);
        padding-inline: rem(60);
        max-width: rem(430);

        &__title {
            font-size: rem(24);
            margin-bottom: rem(10);
        }

        &__rule {
            font-size: rem(12);
            color: var(--Black, #282524);
            font-family: Merriweather, serif;
            font-style: italic;
            font-weight: 400;
            line-height: 140%; /* 22.4px */
        }

        &__spoon {
            width: rem(280);
            transform: translateX(#{rem(130)});
        }
    }

    @include media("sm") {
        max-width: rem(336);
        padding-inline: rem(32) rem(24);
        padding-block: rem(32) rem(64);
        //background-position: center;
        &__title {
            font-size: rem(16);
            margin-bottom: rem(10);
        }
        &__rule {
            font-size: rem(10);
        }
    }
}
