.voting {
    position: relative;
    min-height: 700px;
    scale: 1;
    padding-bottom: rem(140);

    &__widget {
        display: contents;

    }

    &__title {
        margin-bottom: rem(32);
        text-shadow: 3px 3px 0px var(--dark-purple-color);
    }

    &__header {
        text-align: center;
        margin-bottom: rem(1);
    }

    @include media("md") {
    }

    @include media("sm") {
        padding-bottom: rem(80);
    }

    @include media("xxs") {
        //height: 2100px;
        //padding-bottom: rem(32);
    }
}
