.voting {
    position: relative;
    min-height: 700px;
    scale: 1;

    &__title {
        margin-bottom: rem(32);
        text-shadow: 3px 3px 0px var(--dark-purple-color);
    }

    &__header {
        text-align: center;
        margin-bottom: rem(1);
    }

    @include media("md") {
    }

    @include media("sm") {
        min-height: 633px;
        max-height: 255px;
        scale: 1;

        &__title {
            margin-top: rem(32);
        }
    }

    @include media("xxs") {
        //scale: 1.6;
        //padding-top: 100px;
    }
}
