
mixin place(num)
  -
    var places = [
      {img: "./images/medals/2023/1.png",
        text: '1 место',
        reward: 'толстовка'},
      {img: "./images/medals/2023/2.png",
        text: '2 место',
        reward: 'футболка'},
      {img: "./images/medals/2023/3.png",
        text: '3 место',
        reward: 'кружка'},
    ]
  article.place
    img(src=`${places[num - 1].img}`, alt=`Кубок за ${places[num - 1].img}`)
    p= places[num - 1].text
    span.place__sum= places[num - 1].reward
