
mixin place(num)
  -
    var places = [
      {img: "./images/medals/2024/1.png",
        text: '1 место',
        reward: 'Термокружка для кофе, 360мл'},
      {img: "./images/medals/2024/2.png",
        text: '2 место',
        reward: 'Футболка "Vegan Witch"'},
      {img: "./images/medals/2024/3.png",
        text: '3 место',
        reward: 'Шоппер, значок, стикеры, открытка'},
    ]
  article.place
    img(src=`${places[num - 1].img}`, alt=`Кубок за ${places[num - 1].img}`)
    p= places[num - 1].text
    span.place__sum= places[num - 1].reward
