section.novella
  img(src="./images/bubbles-novella.webp", alt="" aria-hidden="true").hide-for-md.novella__bubbles
  .wrapper
    header.novella__header
      h2.novella__title Интерактивная история: <br> Ведьминский ужин
      p.novella__text Все изображения в этой интерактивной истории были созданы с помощью AI-инструмента Canva, который соблюдает этические нормы в использовании контента.
    a(href=`${baseURL}/novella.html` target="_blank").button.novella__button Перейти к истории
