section.prizes#prizes
  .wrapper.prizes__wrapper
    p.prizes__schedule Увидимся в 2024 году!
    h2.prizes__title Призы в&nbsp;2023&nbsp;году
    p.prizes__desc
      span Ограничения:&nbsp;
      | призы можно получить только в РФ.
    .prizes__places
      +place(1)
      +place(2)
      +place(3)
    .prizes__cow
      img(src="./images/cow.webp", alt="" width="248")

