section.prizes#prizes
  .wrapper.prizes__wrapper
    p.prizes__schedule Приём рецептов: 4 октября 18:00 — 25 октября 18:00
      br
      | Голосование: 27 октября 18:00 — 30 октября 18:00
      br
      | Результаты: 31 октября в 18:00
    h2.prizes__title Призы за&nbsp;лучшие&nbsp;рецепты
    p.prizes__desc
      span Ограничения:&nbsp;
      | призы можно получить только в РФ.
    .prizes__places
      +place(1)
      +place(2)
      +place(3)
    .prizes__cow
      img(src="./images/cow.webp", alt="" width="248")

