section.testing
  .wrapper
   header.testing__header
     h2.testing__title Тест: какая вы нежить?
  div.madtest(data-id="1APY6Y0k").test-widget
    script.
      (function (d, o) {
        if (d.getElementById(o.id)) return;
        var s = d.createElement('script');
        s.id = o.id;
        s.async = true;
        s.type = 'text/javascript';
        s.src = 'https://madte.st/sdk-v2.js';
        s.onload = function () {
          new Madtest(o);
        };
        d.head.appendChild(s);
      }) (document, {"testId": "1APY6Y0k"});

