-
  var winners = [
      {
        id: "2023-17",
        title: "Ведьминский суп",
        image: "./images/recipes/2023/vedminsky-sup.webp",
        author: "Кристина",
        authorLink: "https://t.me/kristin4kkk",
        year: 2023,
        description: "Каждую ночь в канун Дня Всех Святых ведьма варит свой суп для того, чтобы получить возможность исполнить любое желание. На этот раз ведьма желает крутой хеллоуинский приз…",
        category: "Суп",
        place: 1,
      },
      {
        id: "2023-15",
        title: "Людоедская похлёбка",
        image: "./images/recipes/2023/pokhlyobka.webp",
        author: "paleandsweet",
        authorLink: "http://instagram.com/paleandsweet",
        year: 2023,
        description: "Помните фильм “Поворот не туда”? Эта похлёбка станет отличным дополнением к его просмотру. Неприятного вам аппетита!",
        category: "Суп",
        place: 2,
      },
      {
        id: "2023-7",
        title: "Одной ногой в аду",
        image: "./images/recipes/2023/one-leg-in-the-grave.webp",
        author: "paleandsweet",
        authorLink: "https://instagram.com/paleandsweet",
        year: 2023,
        description: "Освежите ваш простенький овощной гарнир ногой грешника. Гости будут удивляться, из чего это сделано, либо убегут в ужасе. Желаете проверить их на стрессоустойчивость? Тогда этот простой рецепт для вас!",
        category: "Второе блюдо",
        place: 3,
      },
  ]

section.winners
  img(src="./images/bubbles-winners.webp", alt="").hide-for-md.winners__bubbles
  .wrapper
    h2 РЕЦЕПТЫ-победители 2023

    .winners__items
      each item in winners
        +recipe(item)
